

/* Universal */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    border : 1px solid #000;
    margin: 50px 30px;
    padding: 20px 20px;
}


.box h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
}



/* Header */

.title {
    padding: 20px 30px;
    background-color: #EF4F4F;
    color: #FCF8E8;
}

.title h1{
    font-family: 'Raleway', sans-serif;
}



/* Color Section*/

.colors li {
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
}

#color1 {
    background-color: #EF4F4F;
}

#color2 {
    background-color: #EE9595;
}

#color3 {
    background-color: #FFCDA3;
}

#color4 {
    background-color: #74C7B8;
}

#color5 {
    background-color: #FCF8E8;
}

/* Font Section*/

.font li {
    list-style: none;
}

.font .fontTitle {
    padding-bottom: 16px;
}

.font .fontName {
    margin-bottom: 18px;
}

#Roboto p, #Roboto li {
    font-family: 'Roboto', sans-serif;
}

#Source p, #Source li {
    font-family: 'Source Sans Pro', sans-serif;
}

#Raleway p, #Raleway li {
    font-family: 'Raleway', sans-serif;;
}