/* Font Faimly */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&family=Roboto:ital,wght@0,400;0,700;1,100&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300&display=swap');

/* Universal */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    border : 1px solid #000;
    margin: 50px 30px;
    padding: 20px 20px;
}


.box h2 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
}



/* Header */

.title {
    font-family: "Raleway", sans-serif;
    padding: 20px 30px;
    background-color: #EF4F4F;
    color: #FCF8E8;
}



/* Color Section*/

.colors li {
    list-style: none;
    display: inline-block;
    padding: 20px 30px;
}

#color1 {
    background-color: #EF4F4F;
}

#color2 {
    background-color: #EE9595;
}

#color3 {
    background-color: #FFCDA3;
}

#color4 {
    background-color: #74C7B8;
}

#color5 {
    background-color: #FCF8E8;
}

/* Font Section*/


